<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-css">
		<!-- JQuery core js -->
		<script src="webjars/jquery/1.11.1/jquery.js" ></script>
        <!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.css"  />
		<!-- Bootstrap theme -->
		<link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap-theme.css"  />
		<!-- Customize CSS -->
		<link rel="stylesheet" th:href="@{/css/main.css}" href="css/main.css" />
    </div>
</head>
<body>
<div th:fragment="header">
    <!-- this is header -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
				<a class="navbar-brand" href="#">Springboot Rest Swagger Example</a>
				<a class="navbar-brand" th:href="@{/}">ホーム</a>
				<a class="navbar-brand" th:href="@{/docs.html}">APIs</a>
			</div>
        </div>
    </nav>
</div>

</body>
</html>